body {
    font-size: 16px;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.food .drink .side {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

li.title {
    font-size: 20px;
    font-weight: 600;
}